---
title: Compare tiles with SuperTinyIcons
layout: default
noindex: true
---
<p>This is a page to compare the tiles with the ones from <a href="https://github.com/edent/SuperTinyIcons">SuperTinyIcons</a>.</p>

{% assign sorted_pages = site.pages | sort:'sort' %}
<div class="logo-container">
    <table class="table table-bordered" style="width:inherit;">
        <thead>
        <tr>
            <th>VLZ</th>
            <th>STI</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for logopage in sorted_pages %}{% if logopage.logohandle %}
        {% capture sti_file %}{{ logopage.supertinyicon | default: logopage.logohandle }}{% endcapture %}
        {% capture tilefile %}{{ logopage.logohandle }}{{ '-tile.svg' }}{% endcapture %}
        {% if logopage.images contains tilefile and sti_file != '-' %}
        <tr>
            <td><img alt="tile of {{logopage.title}}" src="/logos/{{logopage.logohandle}}/{{tilefile}}" style="height: 128px; width: 128px; padding: 10px;" /></td>
            <td><img alt="icon of {{logopage.title}}" src="https://github-logos.vectorlogo.zone/super-tiny-icons/{{sti_file}}.svg" style="height: 128px; width: 128px; padding: 10px;" /></td>
            <td><a href="{{logopage.url}}{{site.indexpage}}">{{logopage.title}}</a></td>
        </tr>
        {% endif %}{% endif %}{% endfor %}
        </tbody>
    </table>
</div>