---
title: Contributions
layout: default
redirect_from:
  - /support/specification.html
---


<h2>Guidelines</h2>

<p>One of the key reasons for HackerLogos is a visually consistant look.  These are the guidelines for making images.</p>

<p>General rules:</p>
<ul>
	<li>Do not reference external fonts in <code>.svg</code> files: convert to curves.  However, document the name (and url) of the font.</li>
	<li>Add a shadow or outline if there are white elements/edges so logos look good on a light background.</li>
	<li>Make the background transparent.</li>
	<li>Include the original file with <code>_src</code> suffix (if legally possible).  Document the url where you found it.</li>
</ul>

<h2>Image Specifications</h2>
	<hr/>
{% for imagetype in site.data.imagetype %}
	<h3>{{imagetype.title}}</h3>
	<p>{{imagetype.description}}</p>

	{% if imagetype.id == 'icon' %}
	<p>Image should go all the way to the edge: no extra whitespace/padding.</p>
	{% elsif imagetype.id == 'wordmark'%}
	<p>Leave the appropriate padding if the characters do not have ascenders or descenders.</p>
	{% endif %}


	<p><a href="/logos/visual.html#{{imagetype.id}}" style="btn btn-default btn-xs">View all</a></p>
	<hr/>
{% endfor %}

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Image&nbsp;suffix</th>
			<th>Size&nbsp;(w&nbsp;x&nbsp;h)</th>
			<th>Source&nbsp;<code>.svg</code></th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>vertical</td>
			<td>~64 x 94</td>
			<td>vertical</td>
			<td>Logo above styled &amp; colored text.  Can be wider or narrower.  No padding necessary, but should be centered.  Logo and text should be properly proportioned.</td>
		</tr>
		<tr>
			<td>32</td>
			<td>32 x 32</td>
			<td>icon</td>
			<td>Logo only, no text.  Image should go all the way to the border.</td>
		</tr>
		<tr>
			<td>horizontal</td>
			<td>~120 x ~40</td>
			<td>horizontal</td>
			<td>Logo next to text.  Text should be 20 to 25 pixels high. Image should go all the way to the border.</td>
		</tr>
		<tr>
			<td>120x60</td>
			<td>120 x ~40</td>
			<td>ar21</td>
			<td>Logo next to text.  Image can have padding as much padding as necessary, but at least 1px on all sides.</td>
		</tr>
	</tbody>
</table>
<!--
## File Specifications

* XXX-vertical.png - 94 px high, logo (roughly 64px) on top of styled text
* XXX-32.png - 32 x 32 px, no text
* XXX-horizontal.png - logo next to styled text.  Exact dimensions are not required, but the images' visual "weight" on the page should be roughly similar. Text should be between 21 and 24 px high. Logo can be up to 40 px high.  Ideal width is 120 px, but can range from 88 to 150 px.

Whenever possible, I include the original file with the \_src before the extension (i.e. XXX-vertical_src.png)
-->
