---
layout: default
title: Consistant Vector Logos
redirect_from:
  - /util/index.html
---

<p>I needed consistantly sized logos for one of <a href="http://www.regexplanet.com/">my recent projects</a>.  While Google Image Search is really quite good, I still had a lot of trouble finding images that were:</p>

<ul>
	<li>svg format</li>
	<li>consistently sized</li>
	<li>consistent padding</li>
	<li>transparent background</li>
	<li>look good on a variety of light backgrounds</li>
	<li>with type in the correct layout</li>
</ul>

<p>I ended having to do a fair bit of work to get what I needed, and figured others might benefit as well.</p>

<div class="row">
    <div class="col-md-offset-4 col-md-4">
	<p><a class="btn btn-success btn-lg btn-block" href="/logos/index.html">Browse Logos</a></p>
    </div>
</div>

<div class="row">&nbsp;</div>
{% assign sorted_pages = site.pages | sort:'sort' %}
<div class="row">
<div id="carousel-logos" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
		<ol class="carousel-indicators">
{% for logopage in sorted_pages %}{% if logopage.logohandle %}{% capture logofile %}{{ logopage.logohandle }}{{ '-ar21.svg' }}{% endcapture %}{% if logopage.images contains logofile %}
			<li data-target="#carousel-{{logopage.logohandle}}" data-slide-to="{{forloop.index0}}" {% if logopage.logohandle == 'amazon_aws' %}class="active"{% endif %}></li>
{% endif %}{% endif %}{% endfor %}
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
{% for logopage in sorted_pages %}{% if logopage.logohandle %}{% capture logofile %}{{ logopage.logohandle }}{{ '-ar21.svg' }}{% endcapture %}{% if logopage.images contains logofile %}
		<div class="item{% if logopage.logohandle == 'amazon_aws' %} active{% endif %}">
			<a href="/logos/{{logopage.logohandle}}/index.html"><img src="/logos/{{logopage.logohandle}}/{{logopage.logohandle}}-ar21.svg" style="width:100%;" alt="{{logopage.title}}" /></a>
		</div>
{% endif %}{% endif %}{% endfor %}
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-logos" role="button" data-slide="prev">
		<span class="fa fa-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-logos" role="button" data-slide="next">
		<span class="fa fa-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
</div>
<div class="row">&nbsp;</div>
<style scoped="scoped" type="text/css">
.pin-title { font-size:1em;text-decoration:none;color:#00a}
.pin-description { color:#555; }
.pin-tag { display:none; }
</style>
<div class="row">
<div class="panel panel-default">
	<div class="panel-heading"><i class="fa fa-thumb-tack"></i> Recently Bookmarked</div>
	<div class="panel-body">
<script src="https://pinboard.in//widgets/v1/linkroll/?user=fileformat&amp;count=5&amp;tag=vectorlogozone"></script>
<a class="btn btn-default btn-xs" href="/support/links.html">More...</a>
	</div>
</div>
</div>
