---
import BaseLayout from "../layouts/BaseLayout.astro";
import { siteConfig } from "../lib/site";
---
<BaseLayout pageTitle={`404 - Page Not Found`} noindex={true}>
  <p>The page you requested could not be found!</p>
</BaseLayout>
