<div class="row"><div class="col-md-10 col-md-offset-1">
<table class="table table-striped">
	<thead>
		<tr>
			<th class="hidden-xs hidden-sm">&nbsp;</th>
			<th class="hidden-xs">Name</th>
			<th>Image</th>
		</tr>
	</thead>
	<tbody>
{% assign sorted_images = page.images | sort %}{% for image in sorted_images %}
		<tr>
			<td class="hidden-xs hidden-sm" style="white-space:nowrap;vertical-align:middle;">
				<a class="btn btn-default btn-sm" href="/util/preview.html?image=/logos/{{page.logohandle}}/{{image}}" title="preview" rel="nofollow"><i class="fa fa-search"></i></a>
				<a class="btn btn-default btn-sm" download="{{image}}" href="{{image}}" title="Download"><i class="fa fa-download"></i></a>
				<a class="btn btn-default btn-sm" href="https://github.com/VectorLogoZone/vectorlogozone/commits/gh-pages/www/logos/{{page.logohandle}}/{{image}}" title="revision history" rel="nofollow"><i class="fa fa-history"></i></a>
                <btn class="btn btn-default btn-sm copy2cb" data-clipboard-text="{{site.production_url}}/logos/{{page.logohandle}}/{{image}}" href="#" title="Copy URL to Clipboard" rel="nofollow"><i class="far fa-clipboard"></i></btn>
                <div style="position:relative;display:inline-block;"><button class="btn btn-primary btn-sm copy2tip" style="position:absolute;left:0;right:0;">Copied to Clipboard</button>
                <a class="btn btn-default btn-sm" href="/util/convert_to_png.html?svg=/logos/{{page.logohandle}}/{{image}}" title="Convert to PNG" rel="nofollow"><i class="fa fa-exchange"></i></a>
                </div>
			</td>
			<td class="hidden-xs" style="white-space:nowrap;vertical-align:middle;">
			{% capture imagetype %}{{image|split:'-'|last|split:'.'|first}}{% endcapture %}
			{% assign standard = false %}
			{% capture alt_text %}Alternate image for {{page.title}}{% endcapture %}
			{% for standardtype in site.data.imagetype %}
				{% if standardtype.id == imagetype %}
					{{standardtype.title}}
					{% capture alt_text %}Vector (.svg) logo for {{page.title}}: {{standardtype.title}}{% endcapture %}
					{% assign standard = true %}
				{% endif %}
			{% endfor %}
			{% if standard == false %}
				{{imagetype}}
			{% endif %}
			{% capture extension %}{{image|split:'.'|last}}{% endcapture %}
			{% if extension == 'png' %}
				(Raster)
			{% endif %}
			</td>
			<td><a href="/util/preview.html?image=/logos/{{page.logohandle}}/{{image}}" rel="nofollow"><img alt="{{alt_text}}" src="{{image}}" style="height:120px;" /></a></td>
		</tr>
{% endfor %}
	</tbody>
</table>
{% if page.skipped > 0 %}
<p><a href="https://github.com/VectorLogoZone/vectorlogozone/tree/gh-pages//www/logos/{{page.logohandle}}" style="btn btn-default">More...</a></p>
{% endif %}
</div></div>
