<div class="row"><div class="col">
<table class="table table-striped border-bottom">
	<thead>
		<tr>
			<th class="d-none d-md-table-cell">&nbsp;</th>
			<th class="d-none d-sm-table-cell">Name</th>
			<th>Image</th>
		</tr>
	</thead>
	<tbody>
{% assign sorted_images = page.images | sort %}{% for image in sorted_images %}
		<tr>
			<td class="d-none d-md-table-cell" style="white-space:nowrap;vertical-align:middle;">
				<a class="btn btn-secondary btn-sm" href="/util/preview.html?image=/logos/{{page.logohandle}}/{{image}}" title="preview" rel="nofollow"><i class="far fa-eye"></i></a>
				<a class="btn btn-secondary btn-sm" download="{{image}}" href="{{image}}" title="Download"><i class="fa fa-download"></i></a>
				<button class="btn btn-secondary btn-sm copy2cb" data-clipboard-text="{{site.production_url}}/logos/{{page.logohandle}}/{{image}}" href="#" title="Copy URL to Clipboard" rel="nofollow"><i class="far fa-clipboard"></i></button>
				<div style="position:relative;display:inline-block;"><button class="btn btn-primary btn-sm copy2tip" style="position:absolute;left:0;right:0;">Copied to Clipboard</button>
				<a class="btn btn-secondary btn-sm" href="/util/convert_to_png.html?svg=/logos/{{page.logohandle}}/{{image}}" title="Convert to PNG" rel="nofollow"><i class="fa fa-exchange"></i></a>
				</div>
			</td>
			<td class="d-none d-sm-table-cell" style="white-space:nowrap;vertical-align:middle;">
			{%- capture imagetype %}{{image|split:'-'|last|split:'.'|first}}{% endcapture %}
			{%- assign standard = false %}
			{%- capture alt_text %}Alternate image for {{page.title}}{% endcapture %}
			{%- for standardtype in site.data.imagetype %}
				{% if standardtype.id == imagetype %}
					{{standardtype.title}}
					{% capture alt_text %}Vector (.svg) logo for {{page.title}}: {{standardtype.title}}{% endcapture %}
					{% assign standard = true %}
					{% assign customstyle = standardtype.customstyle %}
				{% endif %}
			{% endfor %}
			{% if standard == false %}
				{{imagetype}}
			{% endif %}
			{% capture extension %}{{image|split:'.'|last}}{% endcapture %}
			{% if extension == 'png' %}
				(Raster)
			{% endif %}
			</td>
			<td><a href="/util/preview.html?image=/logos/{{page.logohandle}}/{{image}}" rel="nofollow"><img alt="{{alt_text}}" src="{{image}}" style="{% if customstyle%}{{customstyle}}{% else %}height:120px;{% endif %}" /></a></td>
		</tr>
{% endfor %}
	</tbody>
</table>
<p>
	<a class="btn btn-secondary" href="https://github.com/VectorLogoZone/vectorlogozone/commits/main/www/logos/{{page.logohandle}}">
		<i class="fa fa-history"></i>
		View history
	</a>
</p>
</div></div>
