<p>Find alternatives:
    <a href="/search-github.html?q={{page.title | cgi_escape}}"
       rel="nofollow">
        <img class="searchlogo" src="/logos/github/github-tile.svg" />
    </a>
    <a href="https://commons.wikimedia.org/w/index.php?search={{page.title | cgi_escape}}+filemime%3Asvg"
       rel="nofollow">
        <img class="searchlogo" src="/logos/wikipedia/wikipedia-tile.svg" />
    </a>
    <a href="https://www.google.com/search?tbm=isch&tbs=ift:svg&q={{page.title | cgi_escape}}"
       rel="nofollow">
        <img class="searchlogo" src="/logos/google/google-tile.svg" />
    </a>
</p>
