<p>Find alternatives:
    <a href="https://www.awesomelogos.org/search.html?q={{page.title | cgi_escape}}"
       title="Search on AwesomeLogos.Org"><img alt="AwesomeLogos.Org logo" class="searchlogo" src="{{site.production_url}}/logos/awesomelogos/awesomelogos-icon.svg" /></a>
    <a href="https://commons.wikimedia.org/w/index.php?search={{page.title | cgi_escape}}+filemime%3Asvg"
       title="Search on Wikimedia Commons"><img alt="Wikipedia logo" class="searchlogo" src="{{site.production_url}}/logos/wikipedia/wikipedia-tile.svg" /></a>
    <a href="https://www.google.com/search?tbm=isch&tbs=ift:svg&q={{page.title | cgi_escape}}"
       rel="nofollow"
       title="Search with Google Image Search"><img alt="Google logo" class="searchlogo" src="{{site.production_url}}/logos/google/google-tile.svg" /></a>
</p>
