	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<style type="text/css">
	.logo-container img {
		box-shadow: 0 0 5px #1d1d1d;
		border: solid #ccc 1px;
		margin: 10px;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		outline: 0;
	}
	</style>
	<link rel="shortcut icon" href="/favicon.ico">
	<script>if (window.top.location != window.location) { window.top.location.href = document.location.href; }</script>
	<script src="/js/jquery-2.1.4.js"></script>
	<script src="/js/bootstrap.js"></script>

