	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<meta name="theme-color" content="#2c3e50" />
	<style type="text/css">

	/* faded border around logos in lists */
	.logo-container img {
		box-shadow: 0 0 5px #1d1d1d;
		border: solid #ccc 1px;
		margin: 10px;
	}

	/* optional padding on visual inventory */
	.padded { padding: 5px; }

	/* hide outline on a clicked tab */
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		outline: 0;
	}

	/* external nav links on logo pages */
	.icon-link {
	color: #888;
	margin-top: 10px;
	padding: 8px;
	}

	/* seems like a Bootstrap bug (or incompatibility with FontAwesome) */
	.carousel-control { padding-top: 25%; } 

	/* bootswatch ugliness */
	.alert-info a { color: white; text-decoration: underline; }

	/* share buttons need plain backgrounds */
	.btn-share {
	background-color: #fff;
	border-color: #ccc;
	border-width: 1px;
	padding: 4px 4px 0 4px;
	margin-left: 5px;
	}

	</style>
	<link rel="shortcut icon" href="/favicon.ico">
	<script>if (window.top.location != window.location) { window.top.location.href = document.location.href; }</script>
	<script src="/js/jquery-2.1.4.js"></script>
	<script src="/js/bootstrap.js"></script>
{% include nextprev.html %}
	{% if prev_page %}<link rel="prev" href="{{prev_page}}" />{% endif %}
	{% if next_page %}<link rel="next" href="{{next_page}}" />{% endif %}
	{% if page.url == '/index.html' or page.url == '/' %}{% include meta-home.html %}{% endif %}
	{% if page.images.size > 0 %}

	<meta property="description" content="Vector logos for {{page.title}} in uniform sizes and layouts in the standard .SVG file format">

	<meta property="og:type" content="article">
	<meta property="og:title" content="{{page.title}} Vector (SVG) Logos">
	<meta property="og:description" content="Vector logos for {{page.title}} in uniform sizes and layouts in the standard .SVG file format">
	<meta property="og:image" content="{{site.production_url}}/logos/{{page.logohandle}}/{{page.logohandle}}-card.png">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{page.title}} Vector (SVG) Logos">
	<meta name="twitter:description" content="Vector logos for {{page.title}} in uniform sizes and layouts in the standard .SVG file format">
	<meta name="twitter:image" content="{{site.production_url}}/logos/{{page.logohandle}}/{{page.logohandle}}-card.png">
	{% endif %}
