<meta name="google-site-verification" content="ZrlyEMKE3kUBkn6005c6H7o20-XuHVN2eiPdZRU-k64" />
<meta name="msvalidate.01" content="E90DBA4A9D3D37F1056E64E5604A7A0D" />
<meta name="alexaVerifyID" content="KaTeke7OayJ23bqjvmj0fVbrwdo" />
<meta name="yandex-verification" content="5392bc89f76e2ae0" />
<link rel="prerender" href="/logos/index.html" />
<style type="text/css">
/* pinterest widget */
.pin-title { font-size:1em;text-decoration:none;color:#00a}
.pin-description { color:#555; }
.pin-tag { display:none; }

/* override carousel bullets since images have white backgrounds */
.carousel-indicators li { background-color:#ccc; }
.carousel-indicators li.active { background-color:#white;border:1px solid #dedede; }

</style>
