<meta name="google-site-verification" content="ZrlyEMKE3kUBkn6005c6H7o20-XuHVN2eiPdZRU-k64" />
<meta name="msvalidate.01" content="E90DBA4A9D3D37F1056E64E5604A7A0D" />
<meta name="p:domain_verify" content="14ddd451c05dbfaecb9a7ad9505416c9"/>
<meta name="yandex-verification" content="5392bc89f76e2ae0" />
<link rel="prerender" href="/logos/index.html" />
<link rel="license" href="https://github.com/VectorLogoZone/vectorlogozone/blob/gh-pages/LICENSE.txt" />
<style>
/* pinterest widget */
.pin-title { font-size:1em;text-decoration:none;color:#00a}
.pin-description { color:#555; }
.pin-tag { display:none; }
</style>
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "https://www.vectorlogo.zone/",
    "name": "Vector Logo Zone",
    "logo": "https://www.vectorlogo.zone/favicon.svg",
    "sameAs": [
        "https://www.facebook.com/VectorLogoZone/",
        "https://github.com/VectorLogoZone/",
        "https://twitter.com/VectorLogoZone/"
    ]
}
</script>
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "VectorLogoZone",
    "url": "https://www.vectorlogo.zone/",
    "potentialAction": {
        "@type": "SearchAction",
        "target": "https://www.vectorlogo.zone/?q={search_term_string}",
        "query-input": "required name=search_term_string"
    }
}
</script>
