<nav class="navbar navbar-expand-sm navbar-dark navbar-static-top d-print-none" style="background-color:#1d8286;x:#2c3e50;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" title="{{site.title}}"><img src="/images/about/vlzlogo-white.svg" alt="{{site.title}} Logo" class="navbar-logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse navbar-right" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/about.html">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/logos/index.html">A&#8209;Z</a></li>
            <li class="nav-item"><a class="nav-link" href="/support/index.html">FAQ</a></li>
            <li class="nav-item"><a class="nav-link" href="/report/index.html">Reports</a></li>
        </ul>
    </div><!--/.navbar-collapse -->
</nav>
