<ul class="nav nav-tabs">
{% if page.url == '/index.html' or page.url == '/' %}
    <li role="presentation" class="nav-item"><a class="nav-link active" href="/index.html">VectorLogoZone</a></li>
{% else %}
    <li role="presentation" class="nav-item"><a class="nav-link addparams" href="/index.html">VectorLogoZone</a></li>
{% endif %}
{% if page.url == '/search-github.html' %}
    <li role="presentation" class="nav-item"><a class="nav-link active" href="/search-github.html">Github</a></li>
{% else %}
    <li role="presentation" class="nav-item"><a class="nav-link addparams" href="/search-github.html">Github</a></li>
{% endif %}
{% if page.url == '/search-other.html' %}
    <li role="presentation" class="nav-item"><a class="nav-link active" href="/search-other.html">Others</a></li>
{% else %}
    <li role="presentation" class="nav-item"><a class="nav-link addparams" href="/search-other.html">Others</a></li>
{% endif %}
</ul>
<p>&nbsp;</p>
<script>
    $(".addparams").click(function(e) {
        window.location = e.target.href + window.location.search;
        return false;
    });
</script>