<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}{% if page.images.size > 0 %} Vector Logos{% endif %} - {{ site.title }}</title>
{% include meta.html %}
</head>
<body>
{% include navbar.html %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="pull-right icon-link-header" style="padding-top:20px;">
					{% if page.website %}<a title="Website" href="{{ page.website }}"><i class="fa fa-globe icon-link"></i></a>{% endif %}
					{% if page.facebook %}<a title="Facebook" href="{{ page.facebook }}"><i class="fa fa-facebook icon-link"></i></a>{% endif %}
					{% if page.twitter %}<a title="Twitter" href="https://twitter.com/{{ page.twitter }}"><i class="fa fa-twitter icon-link"></i></a>{% endif %}
					{% if page.github %}<a title="Github" href="https://github.com/{{ page.github }}"><i class="fa fa-github icon-link"></i></a>{% endif %}
					{% if page.wikipedia %}<a title="Wikipedia" href="{{ page.wikipedia }}"><i class="fa fa-wikipedia-w icon-link"></i></a>{% endif %}
					{% if prev_page %}<a class="btn btn-default btn-xs" href="{{prev_page}}" title="Previous set of logos"><i class="fa fa-caret-left"></i> Previous</a>{% endif %}
					{% if next_page %}<a class="btn btn-default btn-xs" href="{{next_page}}" title="Next set of logos">Next <i class="fa fa-caret-right"></i></a>{% endif %}
				</div>
				<h1>{% if page.h1 %}{{ page.h1 }}{% else %}{{ page.title }}{% endif %}{% if page.subtitle %} <small> - {{ page.subtitle }}</small>{% endif %}</h1>
				{{ content }}
			</div><!--/col-->
		</div><!--/row-->
		{% if page.images.size > 0 %}{% include imagelist.html %}
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				{% include share.html %}
			</div>
		</div>
		{% endif %}
		{% if page.tags %}
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p> Tags: {% for tag in page.tags %}<a href="/logos/tags.html#{{tag}}">{{site.data.tags[tag].title}}</a> {% if forloop.last %}{% else %}| {% endif %}{% endfor %}</p>
			</div>
		</div>
		{% endif %}
		<hr>
		{% include footer.html %}
	</div><!--/container-->
{% include google-analytics.html %}
{% include github.html %}
</body>
</html>
