---
title: Available Logos
layout: default
redirect_from: /all.html
---
{% assign sorted_pages = site.pages | sort:'sort' %}
<div class="logo-container">
	<p>
{% for logopage in sorted_pages %}{% if logopage.logohandle %}{% capture logofile %}{{ logopage.logohandle }}{{ '-ar21.svg' }}{% endcapture %}{% if logopage.images contains logofile %}
		<a href="{{logopage.url}}"><img alt="{{logopage.title}}" src="{{logopage.logohandle}}/{{logofile}}" title="{{logopage.title}}" onerror="this.src='{{logopage.logohandle}}/{{logofile|split:"."|first}}.png';this.onerror=null;" style="width:120px;height:60px;"/></a>
{% endif %}{% endif %}{% endfor %}
	</p>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info">More <a href="links.html">lists of logos</a> available here, including the <a href="visual.html">complete visual inventory of available logos</a> (WARNING: lots of images).</div>
	</div>
</div>
