---
title: Logo Inventory
layout: default
---
{% assign sorted_pages = site.pages | sort:'title' %}
{% capture checkon %}<i class="fa fa-check"></i>{% endcapture %}
{% capture checkoff %}<i class="fa fa-fw"></i>{% endcapture %}

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>2:1</th>
			<th>Icon</th>
			<th>Vertical</th>
			<th>Horizontal</th>
			<th>Official</th>
			<th>Other</th>
		</tr>
	</thead>
	<tbody>{% for other in sorted_pages %}{% assign otherpage = other.url|split:'/'|last %}{% assign otherslug = other.url|split:'/' %}{% if otherpage  == 'index.html' %}{% if otherslug[1] == 'logos' %}{% if other.url != '/logos/index.html' %}{% if other.title.size > 0 %}{% assign logohandle = otherslug[2] %}{% assign count = other.images.size %}
		<tr>
			<td>[{{ logohandle }}]</td>
			<td><a href="{{other.url}}">{{other.title}}</a></td>
			<td class="text-center">
				    {% capture logofile %}{{ logohandle }}{{ '-ar21.svg' }}{% endcapture %}{% if other.images contains logofile %}{{ checkon }}{% assign count = count | minus:1 %}{% else %}{{ checkoff }}{% endif %}
				/ {% capture logofile %}{{ logohandle }}{{ '-120x60.png' }}{% endcapture %}{% if other.images contains logofile %}{{ checkon }}{% assign count = count | minus:1 %}{% else %}{{ checkoff }}{% endif %}
			</td>
			<td class="text-center">
				{% capture logofile %}{{ logohandle }}{{ '-icon.svg' }}{% endcapture %}{% if other.images contains logofile %}{{ checkon }}{% assign count = count | minus:1 %}{% else %}{{ checkoff }}{% endif %}
				/ {% capture logofile %}{{ logohandle }}{{ '-32.png' }}{% endcapture %}{% if other.images contains logofile %}{{ checkon }}{% assign count = count | minus:1 %}{% else %}{{ checkoff }}{% endif %}
			</td>
			<td class="text-center">
				{% capture logofile %}{{ logohandle }}{{ '-vertical.svg' }}{% endcapture %}{% if other.images contains logofile %}{{ checkon }}{% assign count = count | minus:1 %}{% else %}{{ checkoff }}{% endif %}
				/ {% capture logofile %}{{ logohandle }}{{ '-vertical.png' }}{% endcapture %}{% if other.images contains logofile %}{{ checkon }}{% assign count = count | minus:1 %}{% else %}{{ checkoff }}{% endif %}
			</td>
			<td class="text-center">
				{% capture logofile %}{{ logohandle }}{{ '-horizontal.svg' }}{% endcapture %}{% if other.images contains logofile %}{{ checkon }}{% assign count = count | minus:1 %}{% else %}{{ checkoff }}{% endif %}
				/ {% capture logofile %}{{ logohandle }}{{ '-horizontal.png' }}{% endcapture %}{% if other.images contains logofile %}{{ checkon }}{% assign count = count | minus:1 %}{% else %}{{ checkoff }}{% endif %}
			</td>
			<td class="text-center">
				{% capture logofile %}{{ logohandle }}{{ '-official.svg' }}{% endcapture %}{% if other.images contains logofile %}{{ checkon }}{% assign count = count | minus:1 %}{% else %}{{ checkoff }}{% endif %}
				/ {% capture logofile %}{{ logohandle }}{{ '-official.png' }}{% endcapture %}{% if other.images contains logofile %}{{ checkon }}{% assign count = count | minus:1 %}{% else %}{{ checkoff }}{% endif %}
			</td>
			<td class="text-center">
				{{ count }}
			</td>
		</tr>
{% endif %}{% endif %}{% endif %}{% endif %}{% endfor %}
	</tbody>
</table>
