---
title: Available Metadata
layout: default
---
{% assign sorted_pages = site.pages | sort:'sort' %}
{% capture checkon %}<i class="fa fa-check"></i>{% endcapture %}
{% capture checkoff %}<i class="fa fa-fw"></i>{% endcapture %}
{% assign logocount = 0 %}

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<!--<th>ID</th>-->
			<th>Name</th>
			<th style="text-align:center">Blog</th>
			<th style="text-align:center">Facebook</th>
			<th style="text-align:center">Github</th>
			<th>Twitter</th>
			<th style="text-align:center">Website</th>
			<th style="text-align:center">Wikipedia</th>
		</tr>
	</thead>
	<tbody>{% for logopage in sorted_pages %}{% if logopage.logohandle %}{% assign logocount = logocount | plus:1 %}{% assign count = logopage.images.size %}
		<tr>
			<!--<td>[{{ logopage.logohandle }}]</td>-->
			<td><a href="{{logopage.url}}">{{logopage.title}}</a></td>
			<td class="text-center">
				{% if logopage.blog %}<a href="{{logopage.blog}}">{{ checkon }}</a>{% else %}{{ checkoff }}{% endif %}
			</td>
			<td class="text-center">
				    {% if logopage.facebook %}<a href="{{logopage.facebook}}">{{ checkon }}</a>{% else %}{{ checkoff }}{% endif %}
			</td>
			<td class="text-center">
				    {% if logopage.github %}<a href="https://www.github.com/{{logopage.github}}">{{ checkon }}</a>{% else %}{{ checkoff }}{% endif %}
			</td>
			<td class="text-center">
				    {% if logopage.twitter %}<a href="https://www.twitter.com/{{logopage.twitter}}">{{ checkon }}</a>{% else %}{{ checkoff }}{% endif %}
			</td>
			<td class="text-center">
				    {% if logopage.website %}<a href="{{logopage.website}}">{{ checkon }}</a>{% else %}{{ checkoff }}{% endif %}
			</td>
			<td class="text-center">
				    {% if logopage.wikipedia %}<a href="{{logopage.wikipedia}}">{{ checkon }}</a>{% else %}{{ checkoff }}{% endif %}
			</td>
		</tr>
{% endif %}{% endfor %}
	</tbody>
</table>

<p>{{ logocount }} logos</p>
