---
title: Logos by Tag
---
{% assign sorted_pages = site.pages | sort:'sort' %}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{% for tag in site.data.tags %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" class="collapsed" href="#{{tag[0]}}" id="header{{tag[0]}}" aria-expanded="true" aria-controls="collapse{{tag[0]}}">
          {{tag[1]["title"]}}
          <span class="badge badge-info pull-right">{{tag[1]["count"]}}</span>
        </a>
      </h4>
    </div>
    <div id="collapse{{tag[0]}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{tag[0]}}">
      <div class="panel-body logo-container">
	{% for logopage in sorted_pages %}{% if logopage.tags contains tag[0] %}{% if logopage.logohandle %}{% capture logofile %}{{ logopage.logohandle }}-ar21.svg{% endcapture %}{% if logopage.images contains logofile %}
					<a href="{{ logopage.url }}"><img alt="{{logopage.title}} {{imagetype.title}}" class="{% if imagetype.padding == false %}padded{% endif %}" src="{{ logopage.logohandle }}/{{ logofile }}" /></a>
	{% endif %}{% endif %}{% endif %}{% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
</div>
<script type="text/javascript">

	function switchPanels()
	{
		$(".panel-collapse").addClass("collapse");
		var hash = window.location.hash;
		if (!hash || hash == '#')
		{
		}
		else
		{
			$("#collapse" + hash.substring(1)).removeClass("collapse");
		}
	}

	$(document).ready(function() {
		if (window.location.hash)
		{
			$("#collapse" + window.location.hash.substring(1)).removeClass("collapse");
			$(document).scrollTop($("#header" + window.location.hash.substring(1)).offset().top);
		}
		$(window).bind('hashchange', switchPanels);
	});

</script>

