---
title: Visual Logo Inventory
layout: default
---
{% assign sorted_pages = site.pages | sort:'sort' %}
{% capture checkon %}<i class="fa fa-check"></i>{% endcapture %}
{% capture checkoff %}<i class="fa fa-fw"></i>{% endcapture %}

<ul class="nav nav-tabs" id="vlz-tabs" role="tablist">
{% for imagetype in site.data.imagetype %}
	<li role="presentation"{% if forloop.first %} class="active"{% endif %} id="tab-{{imagetype.id}}"><a href="#{{ imagetype.id }}" aria-controls="{{ imagetype.id }}" role="tab">{{ imagetype.title}}</a></li>
{% endfor %}
</ul>
<p id="focustarget"></p>

<div class="tab-content">
{% for imagetype in site.data.imagetype %}
	{% assign logocount = 0 %}
	<div role="tabpanel" class="tab-pane logo-container vlz-tab-data" id="tab-data-{{ imagetype.id }}" {% if forloop.first %}{% else %}style="display:hidden;"{% endif %} >

		<p></p>

		<div class="alert alert-info">{{ imagetype.description }}</div>

		<div id="vector{{ imagetype.id }}">

		{% for logopage in sorted_pages %}{% if logopage.logohandle %}
			{% capture logofile %}{{ logopage.logohandle }}-{{ imagetype.id }}.svg{% endcapture %}{% if logopage.images contains logofile %}
				<a href="{{ logopage.url }}"><img alt="{{logopage.title}} {{imagetype.title}}" src="{{ logopage.logohandle }}/{{ logofile }}" /></a>
				{% assign logocount = logocount | plus:1 %}
			{% endif %}
		{% endif %}{% endfor %}
		<p>Count: {{ logocount }}</p>
		</div>

<!--
		{% assign logocount = 0 %}
		<div id="raster{{ imagetype.id }}">

		{% for logopage in sorted_pages %}{% if logopage.logohandle %}
			{% capture logofile %}{{ logopage.logohandle }}-{{ imagetype.rastersuffix }}.png{% endcapture %}{% if logopage.images contains logofile %}
				<a href="{{ logopage.url }}"><img src="{{ logopage.logohandle }}/{{ logofile }}" /></a>
				{% assign logocount = logocount | plus:1 %}
			{% endif %}
		{% endif %}{% endfor %}
		<p>{{ logocount }} raster logos for {{ imagetype.title }}</p>
		</div>
-->
	</div>
{% endfor %}
</div>
<script type="text/javascript">

	function switchTabs()
	{
		$("#vlz-tabs > li").removeClass("active");
		var hash = window.location.hash;
		console.log("hash=" + hash);
		if (!hash || hash == '#')
		{
			$("#tab-ar21").addClass("active");
			$("#tab-data-ar21").show();
		}
		else
		{
			$(".vlz-tab-data").hide();
			$("#tab-data-" + hash.substring(1)).show();
			$("#tab-" + hash.substring(1)).addClass("active");
			$("#focustarget").focus();
		}
	}

	$(document).ready(function() {
		switchTabs();
		$(window).bind('hashchange', switchTabs);
	});

</script>


