<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
{% include meta.html %}
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<ul class="breadcrumb pull-right well">
					<li><a href="/index.html">HackerLogos</a> <span class="divider">&gt;</span></li>
					<li>{{ page.slug|capitalize }}</li>
				</ul>
				<h1>{{ page.title }}</h1>
				{% include google-adsense.html %}
				{{ content }}
				{% for other in site.pages %}
					{% if other.category  == page.slug %}
					<p><a href="{{ other.url }}">{{ other.title }}</a></p>
					{% endif %}
				{% endfor %}
				{% include google-adsense.html %}
			</div><!--/span-->
		</div><!--/row-->
		<hr>
		<footer>
			{% include footer.html %}
		</footer>
	</div><!--/.fluid-container-->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/bootstrap.js"></script>
{% include google-analytics.html %}
{% include github.html %}
</body>
</html>

