<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<style type="text/css">
	.breadcrumb {
		margin-top:10px;
	}
	</style>
	<link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span8 offset2">
				<ul class="breadcrumb pull-right well">
					<li><a href="/index.html">HackerLogos</a> <span class="divider">&gt;</span></li>
					<li><a href="/category/{{ page.category }}.html">{{ page.category|capitalize }}</a> <span class="divider">&gt;</span></li>
					<li class="active">{% assign pathparts = page.url|split:'/'%}{{ pathparts[1]|capitalize }}</li>
				</ul>
				<h1>{{ page.title }}</h1>
				{{ content }}
				{% include google-adsense.html %}
				{% include disqus.html %}
			</div><!--/span-->
		</div><!--/row-->
		<hr>
		<footer>
			{% include footer.html %}
		</footer>
	</div><!--/.fluid-container-->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/bootstrap.js"></script>
{% include google-analytics.html %}
</body>
</html>

