<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	{% if page.url == '/index.html'%}{% include meta-home.html %}{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<style type="text/css">
	.sidebar-nav {
		padding: 9px 0;
		margin-top:20px;
	}
	</style>
	<link rel="shortcut icon" href="/favicon.ico">
{% include google-analytics.html %}
</head>

<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li{% if page.url == '/index.html'%} class="active"{% endif %}><a href="/index.html">Home</a></li>
					<li{% if page.url == '/support/contact.html'%} class="active"{% endif %}><a href="/support/contact.html">Contact</a></li>
					<li{% if page.url == '/support/links.html'%} class="active"{% endif %}><a href="/support/links.html">Links</a></li>
					<li{% if page.url == '/support/specification.html'%} class="active"{% endif %}><a href="/support/specification.html">Specifications</a></li>
					<li{% if page.url == '/all.html'%} class="active"{% endif %}><a href="/all.html">All Logos</a></li>
					<!--<li class="nav-header">Categories</li>
					<li><a href="#">Link</a></li>
					<li class="active"><a href="#">Link</a></li>-->
				</ul>
				</div><!--/.well -->
			</div><!--/span-->
			<div class="span9">
			<h1>{{ page.title }}</h1>
			{{ content }}
			</div><!--/span-->
		</div><!--/row-->
		<hr>
		<footer>
			{% include footer.html %}
		</footer>
	</div><!--/.fluid-container-->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/bootstrap.js"></script>
{% include github.html %}
</body>
</html>

